@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
}

nav {
  background: #3d4c59;
}

nav ul {
  margin-top: 0.5rem;
}

nav .logo {
  margin-top: 0.5rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 1rem;
  color: white;
  font-size: 0.8rem;
}

nav ul li a:hover {
  color: yellow;
}
