@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Poppins", sans-serif !important;
  background-color: #f3f5f7;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

input,
textarea {
  outline: none;
}

input {
  font-weight: 200 !important;
  width: 100%;
}

.btn:focus {
  box-shadow: none;
}

nav {
  background: #3d4c59;
}

nav ul {
  margin-top: 0.5rem;
}

nav .logo {
  margin-top: 0.5rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 1rem;
  color: white;
  font-size: 0.8rem;
}

nav ul li a:hover {
  color: yellow;
}

.input-placeholders {
  border: 1px solid white;
  border-radius: 3px;
  transition: 0.3s all;
  color: gray;
  width: 100%;
}

.input-placeholders:hover,
.input-placeholders-small:hover {
  border: 1px solid #ccc;
  cursor: pointer;
}

.input-placeholders:focus {
  outline: none;
  cursor: text;
}

.input-placeholders-small {
  font-size: 0.9rem;
  border: 1px solid white;
  border-radius: 3px;
  transition: 0.3s all;
  color: gray;
  outline: none;
}

.invoice-block {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 2px;
}

.textarea-visible {
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: 0.3s all;
  color: gray;
  width: 70%;
  padding: 0.3rem;
  resize: none;
  font-size: 0.8rem;
}

.textarea-visible:focus {
  outline: none;
  border: 0.5px solid #469e75;
}

.close {
  position: relative;
  width: 80%;
}

.desc {
  background-color: #2e3942;
  /* padding: 0.1rem; */
}

.desc input {
  background-color: #2e3942;
  border: none;
}

.desc input:hover {
  background-color: #39434c;
}

.item {
  flex: 6;
  /* padding: 0.2rem; */
}

.quantity {
  flex: 2;
  /* padding: 0.2rem; */
}

.rate {
  flex: 2;
  /* padding: 0.2rem; */
}

.amount {
  flex: 2;
  /* padding: 0.2rem; */
}

.header {
  width: 100%;
  border-radius: 5px;
  margin: 0;
}

.dynamicTable {
  width: 100%;
  border-radius: 5px;
  margin: 0;
}

.header div {
  padding: 0.1rem;
}

.dynamicTable div {
  padding: 0.1rem;
}

.dynamicTable input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.2rem;
  transition: 0.2s all;
}

.dynamicTable input:hover {
  border: 1px solid gray;
}

.dynamicTable input:focus {
  border: 1px solid #469e75;
}

.trash {
  cursor: pointer;
  visibility: hidden;
  transition: 0.1s all;
  color: gray;
}

.trash:hover {
  color: brown;
}

.dynamicTable:hover .trash {
  visibility: visible;
}

.removeBorder {
  border: 0px !important;
  cursor: pointer;
}

.invoicing input {
  font-size: 0.9rem;
}

.subtotal {
  padding-right: 4.6rem;
}

.datepicker {
  background-color: green !important;
  color: green !important;
}
