@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Poppins", sans-serif !important;
  background-color: #f3f5f7;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

input,
textarea,
select:focus {
  outline: none !important;
}

input:not([type="checkbox"]) {
  font-weight: 200 !important;
  width: 100%;
}

.btn:focus {
  box-shadow: none;
}

nav {
  background: #3d4c59;
}

nav ul {
  margin-top: 0.5rem;
}

nav .logo {
  margin-top: 0.5rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 1rem;
  color: white;
  font-size: 0.8rem;
}

nav ul li a:hover {
  color: yellow;
}

.input-placeholders {
  border: 1px solid white;
  border-radius: 3px;
  transition: 0.3s all;
  color: gray;
  width: 100%;
}

.input-placeholders:hover,
.input-placeholders-small:hover {
  border: 1px solid #ccc;
  cursor: pointer;
}

.input-placeholders:focus {
  outline: none;
  cursor: text;
}

.input-placeholders-small {
  font-size: 0.9rem;
  border: 1px solid white;
  border-radius: 3px;
  transition: 0.3s all;
  color: gray;
  outline: none;
}

.invoice-block {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 2px;
}

.textarea-visible {
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: 0.3s all;
  color: gray;
  width: 70%;
  padding: 0.3rem;
  resize: none;
  font-size: 0.8rem;
}

.textarea-visible:focus {
  outline: none;
  border: 0.5px solid #469e75;
}

.close {
  position: relative;
  width: 80%;
}

.desc {
  background-color: #2e3942;
  /* padding: 0.1rem; */
}

.desc input {
  background-color: #2e3942;
  border: none;
}

.desc input:hover {
  background-color: #39434c;
}

.item {
  flex: 6;
  /* padding: 0.2rem; */
}

.quantity {
  flex: 2;
  /* padding: 0.2rem; */
}

.rate {
  flex: 2;
  /* padding: 0.2rem; */
}

.amount {
  flex: 2;
  /* padding: 0.2rem; */
}

.header {
  width: 100%;
  border-radius: 5px;
  margin: 0;
}

.dynamicTable {
  width: 100%;
  border-radius: 5px;
  margin: 0;
}

.header div {
  padding: 0.1rem;
}

.dynamicTable div {
  padding: 0.1rem;
}

.dynamicTable input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.2rem;
  transition: 0.2s all;
}

.dynamicTable input:hover {
  border: 1px solid gray;
}

.dynamicTable input:focus {
  border: 1px solid #469e75;
}

.trash {
  cursor: pointer;
  visibility: hidden;
  transition: 0.1s all;
  color: gray;
}

.trash:hover {
  color: brown;
}

.dynamicTable:hover .trash {
  visibility: visible;
}

.removeBorder {
  border: 0px !important;
  cursor: pointer;
}

.invoicing input {
  font-size: 0.9rem;
}

.subtotal {
  padding-right: 4.6rem;
}

.datepicker {
  background-color: green !important;
  color: green !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.subs .row {
  margin-top: 0.2rem;
}

.subs select {
  color: gray;
  outline: none;
}

.sideBar button {
  border: none;
  background-color: green;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075),
    0 0 8px rgba(255, 255, 255, 0.6);
}

.login-register {
  margin-top: 0.6rem;
}

.login-register a,
.login-register p {
  display: block;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
  color: yellow;
}

.login-register p {
  margin: 0;
}
/* login */

.card {
  width: 400px;
  border: none;
}

.btr {
  border-top-right-radius: 5px !important;
}

.btl {
  border-top-left-radius: 5px !important;
}

.btn-dark {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-dark:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.nav-pills {
  display: table !important;
  width: 100%;
}

.nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 1px solid #0d6efd40;
}

.nav-item {
  display: table-cell;
  background: #0d6efd2e;
}

.form {
  padding: 10px;
  height: 300px;
}

.form input {
  margin-bottom: 12px;
  border-radius: 3px;
}

.form input:focus {
  box-shadow: none;
}

.form button {
  margin-top: 20px;
}

/* INVOICES-PAGE */
.invoices-page-box {
  text-align: center;
}

.invoices-page-box h5 {
  margin-top: 0.5rem;
  color: #3d4c59;
}
.invoices-page-box .icon {
  font-size: 2.5rem;
  color: brown;
}

/* filter */
.filter {
  padding-bottom: 3rem;
}

.filter div label {
  margin-bottom: 0.5rem;
}

.filter select {
  width: 100%;
  padding: 0.1rem;
}

.payment-status {
  text-align: right !important;
}

.invoice-item {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: 0.2s all;
}

.invoice-item:hover {
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.25);
  /* transform: scale(1.02); */
  cursor: pointer;
}

.invoice-item h5 {
  font-size: 1rem;
}

.invoice-item p {
  font-size: 0.8rem;
  text-align: justify;
  color: gray;
}

.invoice-item small {
  font-size: 0.8rem;
  color: gray;
}

.invoice-date-edit {
  display: flex;
  justify-content: start;
}

.invoice-date,
.invoice-edit {
  flex: 1;
}

.invoice-edit {
  justify-content: end;
  text-align: right;
}

.invoice-edit svg {
  background-color: brown;
  border-radius: 100%;
}

.invoice-list-receiver {
  color: brown;
}

.invoice-list a {
  text-decoration: none;
}

hr {
  color: green;
}

/* LANDING PAGE */
.landing {
  background-color: #1f59f6;
  font-family: "Poppins", sans-serif !important;
  padding: 10rem;
  background-image: url("./media/invoice-backdrop.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.landing .nav ul {
  width: 100%;
}

.landing .nav ul li {
  display: inline-block;
  padding-right: 1rem;
}

.landing .nav ul li a {
  color: white;
  text-decoration: none;
}

.landing .logo {
  position: relative;
  top: 5px;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.landing .signup {
  box-shadow: 0 1px 50px blueviolet;
}

.landing .banner {
  margin-top: 5rem;
}

.landing .banner h1 {
  font-size: 5rem;
  font-weight: 600;
  color: white;
}

.landing .banner p {
  line-height: 1.7rem;
  color: whitesmoke;
}

.mockup {
  max-width: 45%;
  height: auto;
  margin: 0 auto;
  display: block;
  padding-bottom: 2rem;
}

/* .below-banner {
  background-image: url("./media/swirl.png");
  background-size: cover;
  background-repeat: no-repeat;
} */

.below-banner h3 {
  color: #1f59f6;
  line-height: 2.2rem;
  font-weight: 600;
}

.below-banner .text {
  transform: rotate(-1deg);
}

.below-banner img {
  max-width: 60%;
  height: auto;
}

.below-banner .image {
  transform: rotate(1deg);
}

.below-banner p {
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

.developers a {
  color: white !important;
}

.footer_ {
  background-color: #1f59f6;
  color: whitesmoke;
}

.footer_ a {
  color: yellow;
  text-decoration: none;
}
